body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
span{
    color: chocolate;
}

section{
    display: flex;
    height: 500px;
    
}
#first-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
    
}
.first-part{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-part a{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,tomato);
    color: black;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    

}
.first-part a:hover{
    font-weight: 900;
}

.first-part img{
    width: 100%;
    

}
#second-sec{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
}

.sec-img{
    width: 50%;
}
.sec-img img{
    
    width: 100%;
    border-radius: 90%;
}
.sec-part{
    width: 50%;
    padding-left: 30px;
    margin-left: 100px;

}
.sec-part a{
    text-decoration: none;
    background-image: linear-gradient(to right,yellow,red);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.sec-part a:hover{
     font-weight: 900;
}


